$color-moradoOsc: #591a9c;
$color-moradosemOscuro: #7048a6;
$color-fucsia1: #ac4692;
$color-rosaClaro: #d78da6;
$color-moradoClaro: #cbb3dd;
$color-moradoClaro2: #c0adbc;

//verdes

$color-verdeOscuro: #60726b;
$color-verdeOsc2: #465449;
$color-verdeMed1: #b2c99d;
$color-verdeMed2: #648f84;
$color-verdeMed3: #00805d;
$color-verdeClaro: #aeb5a0;
$color-grisBlanco: #eae4d9;

//amarillos

$amarillo-osc: #d29715;
$amarillo-claro: #f6bd60;
$amarillo-claro2: #ecc491;

//rojos

$rojo-oscuro: #801515;
$rojo-med: #ff5756;
$rojo-claro: #f97463;


//letras
$poppins: 'Poppins', sans-serif;
$helveltica:  'Arial', Helvetica, sans-serif;
$quicksand: 'Quicksand', sans-serif; 
$raleway:  'Raleway', sans-serif;

//tamaños

$text-min: 1.5em;
$text-md: 1.8em;
$text-gr: 2.2em;

$subtitle1: 3em;

$titles: 3.5em;

//grueso

$md-grueso: 300;
$gr-grueso: 500;
$ex-grueso: 700;